<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>downloadtype</key>
<string>0</string>
<key>kycode</key>
<string>a91e658a0917644ac71ac7bc10b859d6</string>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>http://127.0.0.1:49575/a91e658a0917644ac71ac7bc10b859d6.ipa</string>
<key>downloadPath</key>
<string>http://ifcv.7659.com/Data/APPINFOR/34/92/com.ehoogames.project1000/dizigui_zhouyi_com.ehoogames.project1000_1_a91e658a0917644ac71ac7bc10b859d6_0.0.04.35.ipa</string></dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>http://pic.wanmeiyueyu.com/Data/APPINFOR/34/92/com.ehoogames.project1000/icon_1485100800.png</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>http://pic.wanmeiyueyu.com/Data/APPINFOR/34/92/com.ehoogames.project1000/icon_1485100800.png</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.ehoogames.project1000</string>
<key>bundle-version</key>
<string>0.0.04.35</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>重装机兵-纯MOBA，真竞技！</string>
</dict>
</dict>
</array>
</dict>
</plist>
